.square {
    padding: 0;
    margin: 0;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    width: 650px;
    height: 650px;
    background-color: yellow;
}

.columns {
    display: flex;
    justify-content: center;
    align-items: center;
    border-color: black;
    border-width: 1px; 
    border-style: solid;
    box-sizing: border-box;
    aspect-ratio: 1 / 1;
}

